@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}


body{
  padding: 20px 60px;
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
  height: 20px;
  padding: 10px;
}

.card{
  display: flex;
  width: 300px;
  flex-direction: column;
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  text-align: center;
  font-size: .75rem;
  color: rgb(128, 127, 127);
}

.card img{
  height: 200px;
  padding: 0 auto;
  object-fit: cover;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}